body{
  margin: 0 auto;
  width: cover
}

header{
  height: 100px;
  background-color: #eaa823;
  display: flex;
  margin: 0 auto;
}

h1{
  margin: auto;
  justify-content: center;
  align-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
}

.options{
  display: flex;
  justify-content: center;
}

.moves{
  margin: 0px 50px;
}

.timer{
  margin: 0px 50px;
}

select{
  margin: 0 50px;
}


.tower{
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.peg {
  //background-image: url("images/peg.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  display: flex;
  margin: 40px 40px 0px 40px;
  flex-direction: column;
  justify-content: flex-end;

}

.bases{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.base{
  width: 200px;
  height: 10px;
  background-color: red;
  margin: 0 40px;
  border-radius: 4px;
}

/*.stack{
  position: absolute;
  left: 50%;
  //bottom: 0;
  margin: 0 auto;

}*/

.block {
  height: 20px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 5px;
  //display: block;
  //position: absolute;
  //display: flex;
  //align-content: flex-end;
  //bottom: 0px;
  margin: 0 auto;
  //left: 50%;
  z-index: 100;
}

.clickedPeg{
  border: 10px solid black;
}

.clickablePeg{

}
